<title>About Us</title>
<div class="container">
    <div class="row">
        <h2>About Us</h2>
    </div>
    <div class="row">
        <div class="col" style="text-align: justify;">
            <p><b>EduCare</b> is an initiative undertaken by the XYZ Organization to ensure every child has equal access to education, resources and monetary support required for the cause.
            Education is of great help in establishing equality and ensuring social justice no doubt. But the system of education itself can add to the existing inequalities, or at least perpetuate the same. This has been the major problem in providing equal educational opportunity for all. 
            We provide a platform where you get to play your part in society and contribute in whatever way possible to help our cause. <br>
            With an interface to contribute financial support as well as resources such as school bags, laptops and material, EduCare aims to close the gap between the underpriviledges sectors in need.
            Every process is transparent and we only accept and deliver contribution that fit a strict criteria to ensure that the organization in need recieves the best.
            </p>
        </div>
    </div>
</div>