<title>Admin Dashboard</title>
<div class= "content">

    <div class="row">
        <div class="col-10"><h2><b>Admin Dashboard</b></h2></div>
        <div class="col-2"><a href="/admin-login" class="btn btn-secondary">Logout</a></div>
    </div>

 </div>

