<div class="col-md-6 m-auto">
<br>
<br>  
<div class= "content">
<h1 class="mt-4">Dashboard</h1>

<p class="lead mb-3">Welcome <%= name %> !</p>
<a href="/user/logout" class="btn btn-secondary">Logout</a>


<% if(details!=null) { %>
<table>
<tr>
    <th>Title</th>
    <th>Decription</th>
</tr>
<% details.forEach(function(item){ %>
<tr>
    <td><%= item.title%></td>
    <td><%= item.desc %></td>
</tr>
<% }) %>
</table>
<% } %>





</div>
</div>    
