  <title>Home</title>
  <div class="container">
    <div class="row">
        <div class="col-6">
          <div class="intro">
          <h1><b>Welcome to EduCare! </b></h1>
          <p>
          <i>It is not beyond our power to create a world in which all children have access to education.</i> <br>
          With a vision to join helping hands  and a mission to contribute towards  enabling equal access to education, we at Educare hope to play our part in ensuring a future where every child can recognize their potential without constraints.

          </p>

        </div>
       </div>
        <div class="col-6">
          <div class="card card-body text-center main-login ">
            <p><h2>Sign In Portal</h2></p>
            <br>
            <div class="row">
              <div class="col-2"><img src="../static/images/user.png"></div>
              <div class="col-10"><a href="/user/login" class="btn home-btn user-login-main "><b>User</b></a></div>
            </div>
            <div class="row">
              <div class="col-2"><img src="../static/images/org.png"></div>
              <div class="col-10"><a href="/org/login" class="btn home-btn org-login-main"><b>Organization</b></a></div>
            </div>
            <div class="row">
              <div class="col-2"><img src="../static/images/admin.png"></div>
              <div class="col-10"><a href="/admin/login" class="btn  home-btn admin-login-main"> <b>Administrator</b></a></div>
            </div>
          </div>
        </div>
      </div>
  </div>
