<title>Monetary Support</title>
<div class="row mt-5">
   <div class="col-md-6 m-auto">
      <div class="card card-body">
         <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Create Financial Request
            <br>
         </h1>
         <% include ./partials/messages %>
         <form action="/org-dashboard/create-funding-request" method="POST">
            <div class="form-group" >
               <input 
                  type="title"
                  id="title"
                  name="title"
                  class="form-control"
                  placeholder="Enter Title"
                  value="<%= typeof title != 'undefined' ? title : '' %>"
                  />
            </div>
            <div class="form-group">
               <input
                  type="desc"
                  id="desc"
                  name="desc"
                  class="form-control"
                  placeholder="Enter Description"
                  value="<%= typeof Description != 'undefined' ? Description : '' %>"
                  />
            </div>
            <div class="form-group">
               <input
                  type="total"
                  id="total"
                  name="total"
                  class="form-control"
                  placeholder="Enter Total Funding"
                  value="<%= typeof Value != 'undefined' ? Value : '' %>"
                  />
            </div>
            <button type="submit" class="btn btn-block btn-req">
            Submit Request
            </button>
         </form>
      </div>
   </div>
</div>