<title>Verfication</title>
<div class="content">
    <div class="row">
        <h2>Organization Verification Application</h2>
        <h4>Current Status : <b><%= details[0].status %> </b></h4>
    </div>

    <div class="row"></div>
   
    <div class="row">
        <div class="col-6 ">
            <b style="color:rgb(6, 44, 126);">Please enter the relevant information below. </b>
            <div class="verify-form">
            <form action="/org/dashboard/verify" method="POST" enctype="multipart/form-data">
                <div class="form-group" ><input type="rep" id="rep" name="rep" class="form-control" placeholder="Enter Contact Representative"/></div>
                <div class="form-group" ><input type="contact1" id="contact1" name="contact1" class="form-control" placeholder="Enter Primary Contact Number"/></div>
                <div class="form-group" ><input type="contact2" id="contact2" name="contact2" class="form-control" placeholder="Enter Secondary Contact Number"/></div>
                <div class="form-group" ><input type="hidden" name="org_name" value="<%= name %>"></div>
                <button type="submit" class="btn btn-block main-btn">
                Submit Application
                </button>
            </form>
            </div>
        </div> 

        <div class="col-6 verify-note">
        <p>
          In order to ensure transperency and maintain the trust between the parties involved, we require a strict verification process. <br> Please ensure all the correct details are provided. The verification process ranges from 2-6 weeks. Any suspicious activity or fraudulent details will lead to immediate ban from the platform.
        </p>
        </div>
    </div>
</div>