<title>Verfication</title>
<div class="content">
    <div class="row">
        <h2>Organization Verification Application</h2>
        <h4>Current Status : <b><%= details[0].status %> </b></h4>
    </div>
    <div class="row">
        
        <form action="/org/verify" method="POST">
            Please enter the relevant information below.
            <div class="form-group" >
                <input type="rep" id="rep" name="rep" class="form-control" placeholder="Enter Contact Representative"/>
                <input type="contact1" id="contact1" name="contact1" class="form-control" placeholder="Enter Primary Contact Number"/>
                <input type="contact2" id="contact2" name="contact2" class="form-control" placeholder="Enter Secondary Contact Number"/>
                <input type="file" id="file1" placeholder="Enter File 1" name="file1" class="form-control">
                <input type="hidden" name="org_name" value="<%= name %>">
            <button type="submit" class="btn btn-block main-btn">
            Submit Application
            </button>
         </form>
    </div>
</div>