<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/styles1.css" rel="stylesheet">
    
    <script defer src="../routes/quizscript.js"></script>
   
    
    <title>Quiz App</title>

</head>
<body>

    <div class="container">
        <div id="question-container" class="hide"></div>
        <div id="question" >

        </div>
        <div id="answer-buttons" class="btn-grid" >
                
            
        </div>
        
        <div class="controls">
                 
                <div id="scoreContainer" class="hide" ></div>
            
            <button id="start-btn" class="start-btn btn">Start</button>
            
            
            <button id="next-btn"  class="next-btn btn hide">Next</button>
            <button id="finish-btn"  class="finish-btn btn hide">Finish</button>
            <div id="progress" class="hide"></div>
            <div id="leaderboard" class="hide">Thanks for playing!<br> See where you stand on leaderboard!</div>
            
        </div>
        
    </div>
    
</body>
</html>