<title>Payment</title>

<div class="content">
 <h1>Payment succeeded!</h1> <br>
 <h4>Thank you <span style="color: #384af1"><%= name %></span>  for contributing  <span style="color: #384af1"> <b>Rs <%= amt %> </b></span> to a cause.</h4> <br>
 <h5>You can revisit recent requests or spread word about <span style="color: #384af1">EduCare</span> among your friends. <br>
 <i>One act of kindess can change so many lives.</i></h5>
</div>
   