  <title>Home</title>
  <div class="container">
    <div class="row">
        <div class="col-6">
          <div class="intro">
          <h1><b>Welcome to EduCare! </b></h1>
        </div>
       </div>
        <div class="col-6">
          <div class="card card-body text-center main-login">
            <p><h2>Sign In Portal</h2></p>
            <br>
            <a href="/user/login" class="btn btn-primary btn-block user-login-main "> User Login</a>
            <a href="/org/login" class="btn btn-secondary btn-block org-login-main">Organization Login</a>
          </div>
        </div>
      </div>
  </div>
