
body{
   font-family: 'Raleway', sans-serif !important;
   background: ghostwhite;
}

.navbar{
    margin-left: 10%;
}

.nav-item{
    margin-left: 10%;
    color: black;
    font-size: 20px;
    padding: 2px;
    
}

.nav-item :hover{
    color: blue !important;
    border-bottom: 1px solid rgb(12, 9, 207);
}


.container{
    padding: 50px;
}

.intro{
    margin-top: 20%;
}

.btn{
    margin-top: 2% !important;
}

.card{
    margin-top: 15%;
    margin-left: 20%;
}