
body{
   font-family: 'Rubik', sans-serif;
   background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.row{
    margin-top: 1% !important;
}

p {
    text-align: justify !important;
}

.navbar{
    background-color: #56b4d300 !important;
    margin-left: 10%; 
}

.translateBody{
    text-align: justify;
    padding-bottom: 20px;
}

.nav-item{
    margin-top: 2% !important;
    margin-left: 10%;
    color: #555353 !important;
    font-size: 20px;
    padding: 2px;
   
}

.nav-item :hover{
    color: rgb(1, 102, 68)!important;
    border-bottom: 1px solid rgb(1, 102, 68);
}


.container{
    padding: 40px;
}

.main-login{
    padding: 30px;
    margin-left: 15%;
    margin-top: 2%;
    height: 100% !important;
    box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 0.5);
}

.main-login img{
    padding: 10px;
}

#languages {
    padding: 5px !important;
}

.intro{
    margin-top: 10%;
    color: #323333;
}
.intro p{
    text-align: justify;
}

.btn{
    letter-spacing: 1px;
    margin-top: 2% !important;
}


input{
    width : 50% ;
    margin-top: 1%;
    padding: 5px;
    padding-left: 10px !important;

}

.content{
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}



.request-class{
    margin-top: 2%;
    padding: 20px;
}

.request-content{
    padding: 10px;
    font-size: 20px;
}



.request-desc{
    margin-top: 3%;
    font-size: 20px;
    border: 1px solid black;
    padding: 20px;
}

.payment-form{
    border-top:  3px solid rgb(49, 96, 158);
    padding : 20px;
    margin-top: 5%;
    box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 0.5);
}


.res-img img{
    padding: 10px;
    width: 30%;
    height : 250px;
}


.finance-req{
    margin-top: 3%;
    padding: 30px;
    background-color: #90ddc6bb !important;
    border-radius: 5px;
}

.resource-req{
    padding: 30px;
    background-color: #7df387b7 !important;
    margin-top: 5% !important;
    border-radius: 5px;
    
}


.org-panel a{
    margin-left: 10px;
}

.org-details{
    border-top: 3px solid #56B4D3;
    border-bottom: 3px solid #56B4D3;
    padding: 20px;
    margin-top: 2%;
    width: 50% ;
    margin-left: 2%;
}

.main-btn{
font-weight: bold;
margin:auto;
display:block;
width: 100%;
margin-top: 5% !important;
background-color: #56B4D3;
color: white;
letter-spacing: 2px;
}

.verify-form{
    border-top: 3px solid #56B4D3;
    padding: 20px;
    margin-top: 3%;
    box-shadow: 0px 30px 20px -30px rgba(0, 0, 0, 0.5);
}

.verify-note p{
    padding: 30px;
}

.home-btn{
    border: none;
    letter-spacing: 2px;
}

.home-btn :hover{
    font-size: 20px !important;
}


.user-login-main{
    width: 100% !important;
    background-color: #43c9b2;
}

.org-login-main{
    width: 100% !important;
    background-color: #b4dd7f;
}

.admin-login-main{
    width: 100% !important;
    background-color: #c6e5e9;
}


.btn-green{
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(13, 156, 73);
    color: white;
    border: none;
    padding: 5px;
    width: 50%;

}

.btn-contribute{
    font-weight: bold;
    background-color: rgba(55, 238, 131, 0.747);
    border: none;
    padding: 5px;
    width: 85%;
}

.btn-translate{
    border-bottom: 1px solid black !important;
    background-color: white;
    padding: 5px;
    width: 100%;
    color:rgb(6, 44, 126);
    font-size: 20px;
}

.contact-class{
    font-size: 18px;
}

.faq{
    font-size: 18px;
}